.answers {
    margin: 10px auto;
}
.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(-5px);

    width: 80vw;
    margin-top: 20px;
    padding: 20px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    
    text-transform: none;
    transition: all .2s ease-in-out;
    cursor: pointer;

    color: #fff;
    box-shadow: 0px 0px 10px#9f2af0;
    background-color: #9f2af0;
}